<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.eventshigh.nearme.app"
    android:installLocation="auto">

    <!-- Ask for permissions, we need internet access and Google Maps access -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Notification services -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- To access contacts -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".application.EHApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">

        <!-- Setup the Google Play Services version and Google Maps api key -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!-- Setup the Google analytics -->
        <meta-data
            android:name="com.google.android.gms.analytics.globalConfigResource"
            android:resource="@xml/analytics" />
        <!-- Setup the Crash Reporting -->
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="88e38bba3d2788a9338644aa2f1a2b9f0ee92991" />
        <!-- Setup the search activity -->
        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".activity.LaunchActivity" />

        <!-- Branch.io -->
        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="key_live_nfj8qbtAAg1Hkj4K6jszCnfkwCgwGUL4" />

        <!-- FB -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider196111897251952"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />
        <!--
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        -->
        <!-- Glide -->
        <meta-data
            android:name="com.bumptech.glide.integration.volley.VolleyGlideModule"
            android:value="GlideModule" />

        <!-- Enable the search recent suggestion provider -->
        <provider
            android:name=".ui.EventSearchSuggestionsProvider"
            android:authorities="com.eventshigh.nearme.app.EventSearchSuggestions"
            android:exported="true"
            android:grantUriPermissions="true"
            android:readPermission="com.eventshigh.nearme.app.provider.READ_MY_DATA"
            android:writePermission="com.eventshigh.nearme.app.provider.WRITE_MY_DATA">
            <path-permission
                android:pathPrefix="/search_suggest_query"
                android:readPermission="android.permission.GLOBAL_SEARCH" />
        </provider>

        <!-- Activities within our application -->
        <activity
            android:name=".activity.LaunchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <intent-filter
                android:autoVerify="true"
                tools:ignore="UnusedAttribute">
                <data
                    android:host="www.eventshigh.com"
                    android:pathPrefix="/city"
                    android:scheme="https" />
                <data
                    android:host="www.eventshigh.com"
                    android:path="/"
                    android:scheme="https" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="eventshigh" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="eventshigh" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Accept Search requests withing app -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <!-- Branch.io filters -->
            <intent-filter android:autoVerify="true">
                <data
                    android:host="branch.eventshigh.com"
                    android:scheme="http" />
                <data
                    android:host="branch.eventshigh.com"
                    android:scheme="https" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />


        </activity>


        <activity
            android:name=".activity.FBLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.NewOnboardingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar">

        </activity>
        <activity
            android:name=".activity.EventsMapsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activity.EventsGridActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar">
            <intent-filter
                android:autoVerify="true"
                tools:ignore="UnusedAttribute">
                <data
                    android:host="www.eventshigh.com"
                    android:pathPrefix="/bangalore"
                    android:scheme="https" />
                <data
                    android:host="www.eventshigh.com"
                    android:pathPrefix="/chennai"
                    android:scheme="https" />
                <data
                    android:host="www.eventshigh.com"
                    android:pathPrefix="/delhi"
                    android:scheme="https" />
                <data
                    android:host="www.eventshigh.com"
                    android:pathPrefix="/mumbai"
                    android:scheme="https" />
                <data
                    android:host="www.eventshigh.com"
                    android:pathPrefix="/Bangalore"
                    android:scheme="https" />
                <data
                    android:host="www.eventshigh.com"
                    android:pathPrefix="/Chennai"
                    android:scheme="https" />
                <data
                    android:host="www.eventshigh.com"
                    android:pathPrefix="/Delhi"
                    android:scheme="https" />
                <data
                    android:host="www.eventshigh.com"
                    android:pathPrefix="/Mumbai"
                    android:scheme="https" />
                <data
                    android:host="www.eventshigh.com"
                    android:pathPrefix="/search"
                    android:scheme="https" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

        </activity>

        <activity
            android:name=".activity.NewEventDetailActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar">
            <intent-filter
                android:autoVerify="true"
                tools:ignore="UnusedAttribute">
                <data
                    android:host="www.eventshigh.com"
                    android:pathPrefix="/detail"
                    android:scheme="https" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <meta-data
                android:name="io.branch.sdk.auto_link_request_code"
                android:value="@integer/EventsDetailDeepLink_code" />

        </activity>
        <activity
            android:name=".activity.PlanActivity"
            android:label="@string/action_check_friends"
            android:parentActivityName=".activity.NewEventDetailActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.NewEventDetailActivity" />
        </activity>
        <activity
            android:name=".activity.SelectInterestsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.PointsBreakdownActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:label="@string/points_breakdown"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activity.RedeemCouponActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.ReferralCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.OfferSignUpActivity"
            android:label="@string/enter_details_text"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.CustomUrlActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:parentActivityName=".activity.NewEventDetailActivity" />
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activity.FeedbackActivity"
            android:label="@string/pref_title_send_feedback"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PhoneLoginActivity"
            android:label="@string/pref_title_phone_no"
            android:parentActivityName=".activity.LaunchActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.LaunchActivity" />
        </activity>
        <activity
            android:name=".activity.AboutUsActivity"
            android:label="@string/pref_title_about_us"
            android:launchMode="singleTask"
            android:parentActivityName=".activity.LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.LaunchActivity" />
        </activity>
        <activity
            android:name=".activity.EventAllReviewsActivity"
            android:label="@string/ui_reviews_text"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />

        <activity
            android:name=".activity.FragmentContainerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyInterestsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyFavouritesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyFriendsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyTicketsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyReviewsActivity"
            android:screenOrientation="portrait" />


        <!-- Receivers within our application -->
        <!-- Receives the Install referrer from play store -->
        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />

        <receiver
            android:name=".broadcast.InstallReferrer"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <!-- Instance ID service is used to update the tokens -->
        <service
            android:name=".broadcast.EHInstanceIdService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!-- Receives the GCM broadcast messages, which is used for notification -->

        <receiver android:name=".broadcast.NotificationDeleteBroadcastReciever">
            <intent-filter>
                <action android:name="notification_deleted_intent" />
            </intent-filter>
        </receiver>

        <service
            android:name=".broadcast.EHGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- Receives the alarm broadcast messages, which is used for notification -->
        <receiver android:name=".broadcast.EventAlarmBroadcastReceiver" />

        <service android:name=".broadcast.EventNotificationIntentService" />

        <!-- Service to upload the account information to our servers -->
        <service
            android:name=".broadcast.UpdateAccountInfoService"
            android:exported="false" />

        <activity
            android:name=".activity.WriteReviewActivity"
            android:label="@string/title_activity_write_review" />

        <!-- Facebook-log for user profile activity -->
        <activity
            android:name=".activity.UserProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar">
            <!--<intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>-->

        </activity>


        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@style/FullyTranslucent"
            tools:replace="android:theme" />

        <service android:name=".broadcast.GeofenceTransitionsIntentService" />
        <service
            android:name=".broadcast.GeofenceStartService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activity.PlacesAutocompleteBoundedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />

        <activity
            android:name=".activity.WriteRecentEventReviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />


    </application>

</manifest>
