<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
    package="com.eventshigh.nearme.app"
    android:installLocation="auto"
>
    <!-- Ask for permissions, we need internet access and Google Maps access -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Notification services -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- To access contacts -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <permission
        android:name="com.eventshigh.nearme.app.permission.C2D_MESSAGE"
        android:protectionLevel="signature"
    />
    <uses-permission android:name="com.eventshigh.nearme.app.permission.C2D_MESSAGE" />

    <application
        android:name="io.branch.referral.BranchApp"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        tools:ignore="AllowBackup"
    >
        <!-- Setup the Google Play Services version and Google Maps api key -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"
        />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key"
        />
        <!-- Setup the Google analytics -->
        <meta-data
            android:name="com.google.android.gms.analytics.globalConfigResource"
            android:resource="@xml/analytics"
        />
        <!-- Setup the Crash Reporting -->
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="88e38bba3d2788a9338644aa2f1a2b9f0ee92991"
        />
        <!-- Setup the search activity -->
        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable"
        />
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".activity.LaunchActivity"
        />


        <!--Branch.io-->
        <meta-data android:name="io.branch.sdk.BranchKey" android:value="key_live_nfj8qbtAAg1Hkj4K6jszCnfkwCgwGUL4" />


        <!-- FB -->
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <provider
            android:authorities="com.facebook.app.FacebookContentProvider196111897251952"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true"
            tools:ignore="ExportedContentProvider"
        />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name"
        />

        <!--Glide -->
        <meta-data
            android:name="com.bumptech.glide.integration.volley.VolleyGlideModule"
            android:value="GlideModule"
        />

        <!-- Enable the search recent suggestion provider -->
        <provider
            android:authorities="com.eventshigh.nearme.app.EventSearchSuggestions"
            android:name=".ui.EventSearchSuggestionsProvider"
            android:exported="true"
            android:grantUriPermissions="true"
            android:readPermission="com.eventshigh.nearme.app.provider.READ_MY_DATA"
            android:writePermission="com.eventshigh.nearme.app.provider.WRITE_MY_DATA"
        >
            <path-permission
                android:pathPrefix="/search_suggest_query"
                android:readPermission="android.permission.GLOBAL_SEARCH"
            />
        </provider>

        <!-- Activities within our application -->
        <activity
            android:name=".activity.LaunchActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/NoActionBar"
            android:screenOrientation="portrait"
            android:exported="true"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:autoVerify="true"
                           tools:ignore="UnusedAttribute">
                <data
                    android:scheme="https"
                    android:host="www.eventshigh.com"
                    android:pathPrefix="/city"
                />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!-- Accept Search requests withing app -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <!--Branch.io filters-->
            <intent-filter>
                <data android:scheme="http" android:host="branch.eventshigh.com" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"
            />
        </activity>

        <activity
            android:name=".activity.EventsMapsActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBar"
            android:screenOrientation="portrait"
        />
        <activity
            android:name=".activity.EventsGridActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBar"
            android:screenOrientation="portrait"
            android:exported="true"
        >
            <intent-filter android:autoVerify="true"
                           tools:ignore="UnusedAttribute">
                <data
                    android:scheme="https"
                    android:host="www.eventshigh.com"
                    android:pathPrefix="/bangalore"
                />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter android:autoVerify="true"
                           tools:ignore="UnusedAttribute">
                <data
                    android:scheme="https"
                    android:host="www.eventshigh.com"
                    android:pathPrefix="/chennai"
                />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter android:autoVerify="true"
                           tools:ignore="UnusedAttribute">
                <data
                    android:scheme="https"
                    android:host="www.eventshigh.com"
                    android:pathPrefix="/delhi"
                />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter android:autoVerify="true"
                           tools:ignore="UnusedAttribute">
                <data
                    android:scheme="https"
                    android:host="www.eventshigh.com"
                    android:pathPrefix="/mumbai"
                />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter android:autoVerify="true"
                           tools:ignore="UnusedAttribute">
                <data
                    android:scheme="https"
                    android:host="www.eventshigh.com"
                    android:pathPrefix="/Bangalore"
                    />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter android:autoVerify="true"
                           tools:ignore="UnusedAttribute">
                <data
                    android:scheme="https"
                    android:host="www.eventshigh.com"
                    android:pathPrefix="/Chennai"
                    />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter android:autoVerify="true"
                           tools:ignore="UnusedAttribute">
                <data
                    android:scheme="https"
                    android:host="www.eventshigh.com"
                    android:pathPrefix="/Delhi"
                    />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter android:autoVerify="true"
                           tools:ignore="UnusedAttribute">
                <data
                    android:scheme="https"
                    android:host="www.eventshigh.com"
                    android:pathPrefix="/Mumbai"
                    />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter android:autoVerify="true"
                           tools:ignore="UnusedAttribute">
                <data
                    android:scheme="https"
                    android:host="www.eventshigh.com"
                    android:pathPrefix="/search"
                />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.BlogFeedActivity"
            android:label="@string/title_blog"
            android:screenOrientation="portrait"
            android:exported="true"
            android:parentActivityName=".activity.LaunchActivity"
        >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.LaunchActivity"
            />
            <intent-filter android:autoVerify="true"
                           tools:ignore="UnusedAttribute">
                <data
                    android:scheme="https"
                    android:host="blog.eventshigh.com"
                    android:path="/"
                />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.BlogEntryActivity"
            android:label="@string/title_blog"
            android:theme="@style/NoActionBar"
            android:screenOrientation="portrait"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:parentActivityName=".activity.BlogFeedActivity"
        >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.BlogFeedActivity"
            />
            <intent-filter android:autoVerify="true"
                           tools:ignore="UnusedAttribute">
                <data
                    android:scheme="https"
                    android:host="blog.eventshigh.com"
                    android:pathPrefix="/2"
                />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.EventDetailActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBar"
            android:screenOrientation="portrait"
            android:exported="true"
            android:hardwareAccelerated="true"
        >
            <intent-filter android:autoVerify="true"
                           tools:ignore="UnusedAttribute">
                <data
                    android:scheme="https"
                    android:host="www.eventshigh.com"
                    android:pathPrefix="/detail"
                />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <meta-data android:name="io.branch.sdk.auto_link_request_code" android:value="@integer/EventsDetailDeepLink_code" />

        </activity>

        <activity
            android:name=".activity.MyFriendsActivity"
            android:label="@string/title_my_friends"
            android:screenOrientation="portrait"
            android:parentActivityName=".activity.LaunchActivity"
        >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.LaunchActivity"
            />
        </activity>

        <activity
            android:name=".activity.PlanActivity"
            android:label="@string/action_check_friends"
            android:screenOrientation="portrait"
            android:parentActivityName=".activity.EventDetailActivity"
        >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.EventDetailActivity"
            />
        </activity>
        <activity
            android:name=".activity.CustomUrlActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:parentActivityName=".activity.EventDetailActivity"
        />
        <activity
            android:name=".activity.OnBoardingActivity"
            android:theme="@style/NoActionBar"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:noHistory="true"
        />
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/NoActionBar"
        />
        <activity
            android:name=".activity.FeedbackActivity"
            android:label="@string/pref_title_send_feedback"
            android:screenOrientation="portrait"
        />
        <activity
            android:name=".activity.PhoneLoginActivity"
            android:label="@string/pref_title_phone_no"
            android:screenOrientation="portrait"
            android:parentActivityName=".activity.LaunchActivity"
        >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.LaunchActivity"
            />
        </activity>
        <activity
            android:name=".activity.AboutUsActivity"
            android:label="@string/pref_title_about_us"
            android:launchMode="singleTask"
            android:parentActivityName=".activity.LaunchActivity"
        >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.LaunchActivity"
            />
        </activity>

        <!-- Receivers within our application -->
        <!-- Receives the Install referrer from play store -->
        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />
        <receiver
            android:name=".broadcast.InstallReferrer"
            android:exported="true"
            tools:ignore="ExportedReceiver"
        >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <receiver android:name=".broadcast.CustomInstallListener" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <!-- Instance ID service is used to update the tokens -->
        <service android:name=".broadcast.EHInstanceIdService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>

        <!-- Receives the GCM broadcast messages, which is used for notification -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.eventshigh.nearme.app" />
            </intent-filter>
        </receiver>
        <service
            android:name=".broadcast.EHGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <!-- Service to upload the account information to our servers -->
        <service
            android:name=".broadcast.UpdateAccountInfoService"
            android:exported="false">
        </service>
    </application>

</manifest>
