<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
    package="com.eventshigh.nearme.app"
    android:installLocation="auto"
    android:backupAgent="utils.EhBackupAgent"
>

    <!-- Ask for permissions, we need internet access and Google Maps access -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <permission
        android:name="com.eventshigh.nearme.app.permission.C2D_MESSAGE"
        android:protectionLevel="signature"
    />
    <uses-permission android:name="com.eventshigh.nearme.app.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
    >

        <!-- Setup the Google Play Services version and Google Maps api key -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"
        />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key"
        />
        <!-- Setup the Google analytics -->
        <!-- Disabled for https://code.google.com/p/android/issues/detail?id=82157
        <meta-data
            android:name="com.google.android.gms.analytics.globalConfigResource"
            android:resource="@xml/analytics"
        />
        -->
        <!-- Setup the Crash Reporting -->
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="88e38bba3d2788a9338644aa2f1a2b9f0ee92991"
        />
        <!-- Setup the backup service -->
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIEdZtnBx5rU5FsV-ObsnqwWWHfPLhczoBadGY9g"
        />
        <!-- Setup the search activity -->
        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable"
        />
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".activity.LaunchActivity"
        />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="\1196111897251952"
        />

        <!--
         Enable the file provider which will be used when we share the image
         from our local cache directory to other applications.
        -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.eventshigh.nearme.app.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false"
        >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"
            />
        </provider>

        <!-- Enable the search recent suggestion provider -->
        <provider
            android:authorities="com.eventshigh.nearme.app.EventSearchSuggestions"
            android:name=".ui.EventSearchSuggestionsProvider"
            android:exported="true"
            android:grantUriPermissions="true"
            android:readPermission="com.eventshigh.nearme.app.provider.READ_MY_DATA"
            android:writePermission="com.eventshigh.nearme.app.provider.WRITE_MY_DATA"
        >
            <path-permission
                android:pathPrefix="/search_suggest_query"
                android:readPermission="android.permission.GLOBAL_SEARCH"
            />
        </provider>

        <!-- Activities within our application -->
        <activity
            android:name=".activity.LaunchActivity"
            android:label="@string/title_explore"
            android:exported="true"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Accept Search requests withing app -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"
            />

            <!-- Accepts URIs "http://www.eventshigh.com/" -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data
                    android:scheme="http"
                    android:host="www.eventshigh.com"
                    android:path="/"
                />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="andrsoid.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data
                    android:scheme="http"
                    android:host="www.eventshigh.com"
                    android:path=""
                />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="andrsoid.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data
                    android:scheme="http"
                    android:host="eventshigh.com"
                    android:path="/"
                />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="andrsoid.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data
                    android:scheme="http"
                    android:host="eventshigh.com"
                    android:path=""
                />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="andrsoid.intent.category.BROWSABLE" />
            </intent-filter>

            <!-- Accepts URIs that begin with "http://www.eventshigh.com/city/" -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data
                    android:scheme="http"
                    android:host="www.eventshigh.com"
                    android:pathPrefix="/city"
                />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="andrsoid.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data
                    android:scheme="http"
                    android:host="eventshigh.com"
                    android:pathPrefix="/city"
                />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="andrsoid.intent.category.BROWSABLE" />
            </intent-filter>

            <!-- Accepts URIs that begin with "http://www.eventshigh.com/search" -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data
                    android:scheme="http"
                    android:host="www.eventshigh.com"
                    android:pathPrefix="/search"
                />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="andrsoid.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data
                    android:scheme="http"
                    android:host="eventshigh.com"
                    android:pathPrefix="/search"
                />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="andrsoid.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.EventsMapsActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/NoActionBar"
            android:parentActivityName=".activity.LaunchActivity"
            tools:ignore="UnusedAttribute"
        >
            <!-- Accept Search requests withing app -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"
            />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.LaunchActivity"
            />
        </activity>
        <activity
            android:name=".activity.EventsGridActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/NoActionBar"
            android:parentActivityName=".activity.LaunchActivity"
            tools:ignore="UnusedAttribute"
        >
            <!-- Accept Search requests withing app -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"
            />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.LaunchActivity"
            />
        </activity>

        <activity
            android:name=".activity.EventDetailActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:exported="true"
            android:theme="@style/NoActionBar"
        >
            <!-- Accepts URIs that begin with "http://www.eventshigh.com/detail/" -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="andrsoid.intent.category.BROWSABLE" />
                <data
                    android:scheme="http"
                    android:host="www.eventshigh.com"
                    android:pathPrefix="/detail"
                />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http"
                    android:host="eventshigh.com"
                    android:pathPrefix="/detail"
                />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.BookTicketActivity"
            android:label="@string/title_book"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".activity.EventDetailActivity"
            tools:ignore="UnusedAttribute"
        >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.EventDetailActivity"
            />
        </activity>

        <activity
            android:name=".activity.OnBoardingActivity"
            android:theme="@style/NoActionBar"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:noHistory="true"
        />
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
        />
        <activity
            android:name=".activity.ShareAppActivity"
            android:label="@string/pref_title_refer"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:parentActivityName=".settings.SettingsActivity"
            tools:ignore="UnusedAttribute"
        >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".settings.SettingsActivity"
            />
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
        />
        <activity
            android:name=".activity.FacebookLoginActivity"
            android:label="@string/pref_title_facebook"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:parentActivityName=".settings.SettingsActivity"
            tools:ignore="UnusedAttribute"
        >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".settings.SettingsActivity"
            />
        </activity>
        <activity
            android:name=".activity.PhoneLoginActivity"
            android:label="@string/pref_title_phone_no"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:parentActivityName=".settings.SettingsActivity"
            tools:ignore="UnusedAttribute"
        >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".settings.SettingsActivity"
            />
        </activity>
        <activity
            android:name=".settings.AboutUsActivity"
            android:label="@string/pref_title_about_us"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:parentActivityName=".settings.SettingsActivity"
            tools:ignore="UnusedAttribute"
        >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".settings.SettingsActivity"
            />
        </activity>

        <!-- Receivers within our application -->
        <!-- Receives the Install referrer from play store -->
        <receiver
            android:name=".broadcast.InstallReferrer"
            android:exported="true"
            tools:ignore="ExportedReceiver"
        >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <!-- Receives the GCM broadcast messages, which is used for notification -->
        <receiver
            android:name=".broadcast.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>
        <service android:name=".broadcast.GcmIntentService" />
    </application>

</manifest>
